#Large data files
PR.txt
RT.txt
datFitModel.csv
GLM_Analysis/dat/datFitModel.csv
CountDataLehmanRT.csv
BachelerCountData_Threshold05.csv
BachelerCountData_filter.csv

#History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.DS_Store
.Rproj.user
